/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* variables */
:root {
    --primary: #707070;
    --secondary: #ebebeb;
    --warning: #da0f41;
    --background-b: rgb(248, 248, 248);
    --green: rgb(188, 202, 170)
  }
  /*Base**********************************/
  * {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
  }
  a {
    color: rgb(206, 206, 206);
    text-decoration: none;
  }
  a:hover{
    color: rgb(206, 206, 206);
  }
   /* error text */
   .error {
    color: var(--warning);
    font-size: 14px;
    margin: 16px 0;
  }
  h1,h2,h3,h4{
    margin-bottom: 0;
  }
  /* Dark mode (default)**********************************************/
  *{
    color:rgb(206, 206, 206); 
  }
  body{
    box-sizing: border-box;
    background: rgb(75,75,75);
  }
  body::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(75,75,75);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(75,75,75);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 0px solid orange;  /* creates padding around scroll thumb */
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(50,50,50,0.3);
    border: 0px solid  var(--secondary);
    background: rgb(63, 63, 63);
  }
  input, textarea {
    border: 0;
    border: 2px solid rgb(63, 63, 63);
    border-bottom: 2px solid rgb(70, 70, 70);
    border-radius: 8px;
    padding: 10px;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
    background: rgb(63, 63, 63);
  }
  input:focus{
    border: 2px solid rgb(45, 160, 0);
  }
  textarea:focus{
    border: 2px solid rgb(45, 160, 0);
  }
  button, .btn { 
    background: rgb(75, 75, 75);
    color:rgb(206, 206, 206);
    border-radius: 8px;
    border: 0;
    padding: 10px 12px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    margin: auto 5px;
    box-shadow: 1px 2px 10px rgba(50,50,50,0.8);
    border: 0px solid  var(--secondary);
    transition: all ease 0.2s;
  }
  button:hover, .btn:hover {
    color: rgb(206, 206, 206);
    box-shadow: 1px 2px 6px rgba(50,50,50,0.3);
    transform: scale(0.94);
    transition: all ease 0.3s;
  }
  button:focus {
    color: rgb(206, 206, 206);
    box-shadow: 1px 2px 6px rgba(50,50,50,0.3);
    transform: scale(0.94);
    transition: all ease 0.3s;
  }
  .loading{
    color: rgb(45, 160, 0) !important;
  }

  /* Light mode  *********************************************/
  h1.light,h2.light,
  h3.light,h4.light{
    color: var(--primary);
  }
  p.light{
    color: var(--primary);
  }
  a.light {
    color: var(--primary);
  }
  a.light:hover {
    color: var(--primary);
  }
  
  /* buttons */
  button.light, .btn { 
    background: rgb(216, 216, 216);
    color: var(--primary);
    border-radius: 8px;
    border: 0;
    padding: 10px 12px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    margin: auto 5px;
    box-shadow: 1px 2px 6px rgba(50,50,50,0.5);
    border: 0px solid  var(--secondary);
    transition: all ease 0.2s;
  }
  button.light:hover, .btn:hover {
    box-shadow: 1px 2px 3px rgba(50,50,50,0.3);
    transform: scale(0.96);
    transition: all ease 0.3s;
    color: var(--primary);
  }
  button:disabled {
    opacity: 0.5;
    color: var(--primary);
    background: var(--secondary);
    cursor: not-allowed;
  }
  
  /* forms */
  form.light {
    max-width: 600px;
    margin: 10vh auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 2px 3px 15px rgba(50,50,50,0.09);
    border: 0px solid  var(--secondary);
    background: white;
  }
  input.light, textarea.light {
    border: 0;
    border: 2px solid rgb(255,255,255);
    border-bottom: 2px solid rgb(216, 216, 216, 0.5);
    padding: 10px;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.2);
    color: var(--primary);
  }
  input.light:focus,
  textarea.light:focus{
    border: 2px solid rgb(216, 216, 216);
  }
  
 
